/.idea
/*.iml
# Local temp directories
**/tmp/*

# Ignore the Blender autosaves
**/*.blend1

# Ignore the Substance painter autosaves
**/*_autosave_*.spp

# Ignore the Substance painter lock files
**/*.spp.painter_lock

# Ignore the cache files of ... baking?
**/*.assbin

Section1/Hammer.spp
