/.idea
/*.iml
# Local temp directories
**/tmp/*

# Ignore the Blender autosaves
**/*.blend1

# Ignore the Substance painter autosaves
**/*_autosave_*.spp

# Ignore the Substance painter lock files
**/*.spp.painter_lock

# Ignore the cache files of ... baking?
**/*.assbin

Section1/Hammer.spp
Section2/Sword.spp
Section2/Sword_*.fbx
Section2/Sword[0-9].blend
Section2/Sword[0-9][0-9].blend
Section2/Sword_HighRes.blend
